*.ninja
*.ll
**/*.o
**/*.swp
lib

**/*.bc
**/*.so
test*.ll
*.cbp

cmake_install.cmake
CMakeCache.txt
**/CMakeFiles/**
Makefile
install_manifest.txt
bin/**

.ninja*

.idea/**

.ycm_extra_conf.py
clang_complete

amd/*

vecmath/sleef/**/rename*.h
mkrename
sleef.h

*.csv
